DB_LOGIN = "postgres"
DB_PASSWORD = ''
DB_HOST = 'localhost'
DB_PORT = 5432
DB_DATABASE = 'advanced-monitoring-medsenger-bot'
MAIN_HOST = 'http://localhost:8001'
API_KEY = ''
AGENT_ID = 6
HOST = 'localhost'
PORT = 9898
API_DEBUG = True