DB_LOGIN = "postgres"
DB_PASSWORD = ''
DB_HOST = 'localhost'
DB_PORT = 5432
DB_DATABASE = 'forms-medsenger-bot'
MAIN_HOST = 'http://localhost:8001'
JSHOST = 'http://localhost:8080'
LOCALHOST = 'http://localhost:8080'
API_KEY = ''
AGENT_ID = 6
HOST = 'localhost'
PORT = 9898
API_DEBUG = True
PRODUCTION = False
SENTRY = ''
DYNAMIC_CACHE = False
RECORDS_AGENT_ID = 14
USE_GRPC = False
GRPC_HOST = None
