flask
flask_sqlalchemy
flask_migrate
apscheduler
psycopg2-binary
requests
sentry-sdk[flask]
medsenger-api>=0.1.17
pytz~=2023.3
redis
celery
flask_cors
flask-compress
bs4
beautifulsoup4
SQLAlchemy
alembic