flask~=2.3.2
flask_sqlalchemy
flask_migrate
apscheduler~=3.10.1
psycopg2-binary
requests~=2.31.0
sentry-sdk[flask]
medsenger-api>=0.1.17
pytz~=2023.3
redis
celery~=5.3.1
flask_cors
flask-compress
bs4~=0.0.1
beautifulsoup4~=4.12.2
SQLAlchemy~=2.0.18
alembic~=1.11.1